<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

  <title>Demographic Information</title>
  <base target="_top">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <style>
    .question-title {
      font-weight: bold;
      margin-bottom: 4px;
    }
    .question-desc {
      margin-bottom: 16px;
      font-style: italic;
    }
    .rating-table {
      border-collapse: collapse;
      width: 100%;
      max-width: 700px;
    }
    .rating-table th, .rating-table td {
      text-align: center;
      padding: 4px;
    }
    .rating-table th:first-child, .rating-table td:first-child {
      text-align: left;
      padding-right: 16px;
    }
    .rating-table input[type="radio"] {
      margin: 0 3px;
    }
    body {
        font-family: "Times New Roman", "Times New Roman Regular", Times, serif;
        font-size: 16pt;
      }
      td { font-size: 16pt; }
      .question-text { font-size: 16pt; text-align: center; }
  </style>
</head>



<body>
  <div class="cl0">
    <h2><b>Demographic Information</b></h2>
    <p>
      <h3>Please answer the following questions:</h3>
      <form id="form_demog"
            name="form_demog"
           action="{{ url_for('practice.prac_instruction') }}"
            method="POST"
            onsubmit="return saveDemog();">

        <table class="cl0">
          <colgroup>
            <col style="width:15%;" />
            <col style="width:35%;" />
            <col style="width:35%;" />
            <col style="width:15%;" />
          </colgroup>

          <tr>
            <td class="cl0">Date of Birth:</td>
            <td class="cl0" colspan="3">
              <input type="number" name="demog_bm" id="demog_bm" min="1" max="12" required />
              (Month, MM)/
              <input type="number" name="demog_bd" id="demog_bd" min="1" max="31" required />
              (Day, DD)/
              <input type="number" name="demog_by" id="demog_by" min="1900" max="2015" required />
              (Year, YYYY)
            </td>
          </tr>

          <tr>
            <td class="cl0">Age:</td>
            <td class="cl0" colspan="3">
              <input type="number" name="demog_age" id="demog_age" min="18" max="100" required />
              Years Old
            </td>
          </tr>

          <tr>
            <td class="cl0">Gender:</td>
            <td class="cl0" colspan="3">
              <input type="radio" name="demog_gen" id="demog_gen_male" value="1" required />Male
              <input type="radio" name="demog_gen" id="demog_gen_female" value="2" />Female
            </td>
          </tr>

          <tr>
            <td class="cl0" colspan="4">
              Using the scale below, how many years of formal education did you complete?
              (Years)
            </td>
          </tr>

          <tr>
            <td class="cl0"></td>
            <td class="cl0">
              <label><input type="radio" name="demog_edu" value="1" required /> Fewer than 8 years (1)</label><br>
              <label><input type="radio" name="demog_edu" value="3" /> Some high school (3)</label><br>
              <label><input type="radio" name="demog_edu" value="5" /> Some college (5)</label><br>
              <label><input type="radio" name="demog_edu" value="7" /> Master's degree (7)</label>
            </td>
            <td class="cl0">
              <label><input type="radio" name="demog_edu" value="2" /> Completed 8th grade (2)</label><br>
              <label><input type="radio" name="demog_edu" value="4" /> Graduated high school (4)</label><br>
              <label><input type="radio" name="demog_edu" value="6" /> Graduated college (6)</label><br>
              <label><input type="radio" name="demog_edu" value="8" /> Doctoral or medical degree (8)</label>
            </td>
            <td class="cl0"></td>
          </tr>

          <tr><td class="cl0" colspan="4"></td></tr>

          <tr>
            <td class="cl0" colspan="4">
              Are you a native speaker of English?
              <input type="radio" name="demog_eng" id="demog_eng_yes" value="1" required />Yes
              <input type="radio" name="demog_eng" id="demog_eng_no" value="0" />No
            </td>
          </tr>

          <tr><td class="cl0" text-align="right">If not,</td><td class="cl0" colspan="3"></td></tr>

          <tr>
            <td class="cl0"></td>

            <td class="cl0" colspan="3">
              - What is your first language?
              <input type="text" name="demog_firlan" id="demog_firlan" style="width:300px;" />
            </td>
          </tr>

          <tr>
            <td class="cl0"></td>
            <td class="cl0" colspan="3">
              - How would you rate your overall proficiency in English? Please rate your proficiency in the following areas:
              <br>
                &nbsp;&nbsp;(1 = Not proficient at all, 7 = Native-level proficiency)<br>
                
                <table class="rating-table">
                  <tr>
                    <th></th>
                    <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th>
                  </tr>
                  <tr>
                    <td>Reading</td>
                    <td><input type="radio" name="demog_eng_read" value="1"></td>
                    <td><input type="radio" name="demog_eng_read" value="2"></td>
                    <td><input type="radio" name="demog_eng_read" value="3"></td>
                    <td><input type="radio" name="demog_eng_read" value="4"></td>
                    <td><input type="radio" name="demog_eng_read" value="5"></td>
                    <td><input type="radio" name="demog_eng_read" value="6"></td>
                    <td><input type="radio" name="demog_eng_read" value="7"></td>
                  </tr>

                  <tr>
                    <td>Writing</td>
                    <td><input type="radio" name="demog_eng_write" value="1"></td>
                    <td><input type="radio" name="demog_eng_write" value="2"></td>
                    <td><input type="radio" name="demog_eng_write" value="3"></td>
                    <td><input type="radio" name="demog_eng_write" value="4"></td>
                    <td><input type="radio" name="demog_eng_write" value="5"></td>
                    <td><input type="radio" name="demog_eng_write" value="6"></td>
                    <td><input type="radio" name="demog_eng_write" value="7"></td>
                  </tr>
                </table>
            </td>
            
          </tr>

          <tr><td class="cl0" colspan="4"></td></tr>

          <tr>
            <td class="cl0" colspan="4">
              Are you Hispanic or Latino?
              <input type="radio" name="demog_hislat" id="demog_hislat_yes" value="1" required />Yes
              <input type="radio" name="demog_hislat" id="demog_hislat_no" value="0" />No
            </td>
          </tr>
          <tr>
            <td class="cl0" colspan="4">
              Please check one of the following ethnic or racial categories that best describe you.
            </td>
          </tr>

          <tr>
            <td class="cl0" colspan="4">
              <input type="radio" name="demog_race" id="demog_race_native" value="1" required />
              Native American/Alaska Native<br>

              <input type="radio" name="demog_race" id="demog_race_asian" value="2" />
              Asian<br>

              <input type="radio" name="demog_race" id="demog_race_hawaian" value="3" required />
              Native Hawaiian or Other Pacific Islander<br>

              <input type="radio" name="demog_race" id="demog_race_african" value="4" required />
              Black or African American<br>

              <input type="radio" name="demog_race" id="demog_race_white" value="5" required />
              White or Caucasian<br>

              <input type="radio" name="demog_race" id="demog_race_multi" value="6" required />
              Multiple categories<br>
            </td>
          </tr>
        </table>
        <br>
        <br>

        <h3>Prior knowledge question</h3>
        <p>
          How much do you already know about each of the following topics?<br>
          (1 = I don’t know anything about this topic, 7 = I know a lot about this topic)
        </p>
        <table class="rating-table">
          <tr>
            <th>Topic</th>
            <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th>
          </tr>
          <tr>
            <td>Bone grafts</td>
            <td><input type="radio" name="bone_grafts" value="1" required></td>
            <td><input type="radio" name="bone_grafts" value="2"></td>
            <td><input type="radio" name="bone_grafts" value="3"></td>
            <td><input type="radio" name="bone_grafts" value="4"></td>
            <td><input type="radio" name="bone_grafts" value="5"></td>
            <td><input type="radio" name="bone_grafts" value="6"></td>
            <td><input type="radio" name="bone_grafts" value="7"></td>
          </tr>
          <tr>
            <td>Hypertension</td>
            <td><input type="radio" name="hypertension" value="1" required></td>
            <td><input type="radio" name="hypertension" value="2"></td>
            <td><input type="radio" name="hypertension" value="3"></td>
            <td><input type="radio" name="hypertension" value="4"></td>
            <td><input type="radio" name="hypertension" value="5"></td>
            <td><input type="radio" name="hypertension" value="6"></td>
            <td><input type="radio" name="hypertension" value="7"></td>
          </tr>
          <tr>
            <td>Blood donation</td>
            <td><input type="radio" name="blood_donation" value="1" required></td>
            <td><input type="radio" name="blood_donation" value="2"></td>
            <td><input type="radio" name="blood_donation" value="3"></td>
            <td><input type="radio" name="blood_donation" value="4"></td>
            <td><input type="radio" name="blood_donation" value="5"></td>
            <td><input type="radio" name="blood_donation" value="6"></td>
            <td><input type="radio" name="blood_donation" value="7"></td>
          </tr>
          <tr>
            <td>Multiple sclerosis</td>
            <td><input type="radio" name="multiple_sclerosis" value="1" required></td>
            <td><input type="radio" name="multiple_sclerosis" value="2"></td>
            <td><input type="radio" name="multiple_sclerosis" value="3"></td>
            <td><input type="radio" name="multiple_sclerosis" value="4"></td>
            <td><input type="radio" name="multiple_sclerosis" value="5"></td>
            <td><input type="radio" name="multiple_sclerosis" value="6"></td>
            <td><input type="radio" name="multiple_sclerosis" value="7"></td>
          </tr>
          <tr>
            <td>Corneal transplants</td>
            <td><input type="radio" name="corneal_transplants" value="1" required></td>
            <td><input type="radio" name="corneal_transplants" value="2"></td>
            <td><input type="radio" name="corneal_transplants" value="3"></td>
            <td><input type="radio" name="corneal_transplants" value="4"></td>
            <td><input type="radio" name="corneal_transplants" value="5"></td>
            <td><input type="radio" name="corneal_transplants" value="6"></td>
            <td><input type="radio" name="corneal_transplants" value="7"></td>
          </tr>
          <tr>
            <td>Kidney dialysis</td>
            <td><input type="radio" name="kidney_dialysis" value="1" required></td>
            <td><input type="radio" name="kidney_dialysis" value="2"></td>
            <td><input type="radio" name="kidney_dialysis" value="3"></td>
            <td><input type="radio" name="kidney_dialysis" value="4"></td>
            <td><input type="radio" name="kidney_dialysis" value="5"></td>
            <td><input type="radio" name="kidney_dialysis" value="6"></td>
            <td><input type="radio" name="kidney_dialysis" value="7"></td>
          </tr>
          <tr>
            <td>Liver cancer</td>
            <td><input type="radio" name="liver_cancer" value="1" required></td>
            <td><input type="radio" name="liver_cancer" value="2"></td>
            <td><input type="radio" name="liver_cancer" value="3"></td>
            <td><input type="radio" name="liver_cancer" value="4"></td>
            <td><input type="radio" name="liver_cancer" value="5"></td>
            <td><input type="radio" name="liver_cancer" value="6"></td>
            <td><input type="radio" name="liver_cancer" value="7"></td>
          </tr>
          <tr>
            <td>Vaccine</td>
            <td><input type="radio" name="vaccine" value="1" required></td>
            <td><input type="radio" name="vaccine" value="2"></td>
            <td><input type="radio" name="vaccine" value="3"></td>
            <td><input type="radio" name="vaccine" value="4"></td>
            <td><input type="radio" name="vaccine" value="5"></td>
            <td><input type="radio" name="vaccine" value="6"></td>
            <td><input type="radio" name="vaccine" value="7"></td>
          </tr>
          <tr>
            <td>Colorectal cancer</td>
            <td><input type="radio" name="colorectal_cancer" value="1" required></td>
            <td><input type="radio" name="colorectal_cancer" value="2"></td>
            <td><input type="radio" name="colorectal_cancer" value="3"></td>
            <td><input type="radio" name="colorectal_cancer" value="4"></td>
            <td><input type="radio" name="colorectal_cancer" value="5"></td>
            <td><input type="radio" name="colorectal_cancer" value="6"></td>
            <td><input type="radio" name="colorectal_cancer" value="7"></td>
          </tr>
          <tr>
            <td>Alzheimer's disease</td>
            <td><input type="radio" name="alzheimers_disease" value="1" required></td>
            <td><input type="radio" name="alzheimers_disease" value="2"></td>
            <td><input type="radio" name="alzheimers_disease" value="3"></td>
            <td><input type="radio" name="alzheimers_disease" value="4"></td>
            <td><input type="radio" name="alzheimers_disease" value="5"></td>
            <td><input type="radio" name="alzheimers_disease" value="6"></td>
            <td><input type="radio" name="alzheimers_disease" value="7"></td>
          </tr>
        </table>

        <br>
        <input type="image" name="submit" id="submit" src="{{ url_for('static', filename='images/nextpage_button.gif') }}" alt="Next" />
      </form>
    </p>
  </div>

  <script type="text/javascript">
    function saveDemog() {
      var bm     = document.getElementById('demog_bm').value;
      var bd     = document.getElementById('demog_bd').value;
      var by     = document.getElementById('demog_by').value;
      var age    = document.getElementById('demog_age').value;
      var gen    = getRadioVal(document.getElementById('form_demog'), 'demog_gen');
      var edu    = getRadioVal(document.getElementById('form_demog'), 'demog_edu');
      var nateng = getRadioVal(document.getElementById('form_demog'), 'demog_eng');
      var firlan = document.getElementById('demog_firlan').value;
      var hislat = getRadioVal(document.getElementById('form_demog'), 'demog_hislat');
      var race   = getRadioVal(document.getElementById('form_demog'), 'demog_race');

      if (bm === '') {
        return false;
      } else {
        // In your original code, you had an AJAX post (commented out):
        // jQuery.post('saveDemog.php',{...});
        // We'll skip that because we’re now posting the entire form 
        // to /prac_instruction
        return true;
      }
    }

    function getRadioVal(form, name) {
      var val;
      var radios = form.elements[name];
      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          val = radios[i].value;
          break;
        }
      }
      return val;
    }
  </script>
</body>
</html>
