<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Done</title>
  <base target="_top">
</head>
<body>
  <div class="cl2">
    <p style="line-height:130%">
      You learned {{ bonusWordsCnt }} concepts from the passages.
    </p>
    <p style="line-height:130%">
      Thanks for participating in our study. <br>
      Please paste the following code to the Amazon Mechanical Turk Webpage, and submit the work. <br>
      Code: <b>{{ final_code }}</b>
    </p>
  </div>
</body>
</html>
