<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>K2</title>
  <base target="_top">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <style>
    body {
      font-family: "Times New Roman", "Times New Roman Regular", Times, serif;
      font-size: 14pt;
    }
    td { font-size: 14pt; }
    .question-text { font-size: 14pt; text-align: center; }
  </style>
</head>
<body>
  <br><br>
  <div id="k2" style="text-align:center;">
    <div class="passQ">
      <p>
        Now, we would like to know how much you learned from the formal task. Please tell us about what you have learned about Health today. You can recall anything you remember from any of the topics you read today. You don't need to remember the information word for word. Please say as much as you can!
      </p>
      <br>
      <p style="font-size:18pt;">
        (And please do not use copy and paste. Sometimes the texts pasted cannot be recorded in the database.)
      </p>
      <br>
      <!-- The form posts to the Flask route for letCompOneInst (action_url) -->
      <form id="form_k2" name="form_k2" action="{{ action_url }}" method="POST" onsubmit="return saveAns();">
        <textarea id="textarea_k2" name="textarea_k2" rows="10" cols="60" required></textarea>
        <br><br>
        <input type="image" name="submit" id="submit" src="{{ url_for('static', filename='images/next_button.gif') }}" alt="Next"/>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    function saveAns() {
      var input = document.getElementById('textarea_k2');
      if (input.value == '') {
        return false;
      } else {
        // Optionally, you could use AJAX here.
        return true;
      }
    }
  </script>
</body>
</html>
