<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task C2</title>
  <base target="_top">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <style>
    body {
      font-family: "Times New Roman", "Times New Roman Regular", Times, serif;
      font-size: 14pt;
    }
    td { font-size: 14pt; }
    .question-text { font-size: 14pt; text-align: center; }
  </style>
</head>
<body>
  <div class="b_up">
    <div class="task_c_up">
      Please make a rating from 0 to 100 by moving the circle on the scale.
    </div>
  </div>

  <div class="b_down">
    <div class="article">
      <div id="c2" style="text-align:center;">
        <br>
        <div id="passQ" class="passQ">
          <p class="question-text">
            <b>
            2. How easy was this article to read?
          </b>
        </p>
          <br><br>

          <!-- The form posts to /task_c3?fid={{ fid }} in Flask -->
          <form id="form_c2"
                name="form_c2"
                action="{{ url_for('core.task_c2', fid=fid) }}"
                method="POST"
                onsubmit="return saveAns();">

                <table style="width:100%;">
                  <!-- Textbox row (full width) -->
                  <tr>
                    <td colspan="2" style="text-align:center;">
                      <input type="text"
                             name="ans"
                             id="ans"
                             readonly="readonly"
                             class="readonly" />
                    </td>
                  </tr>
                  
                  <!-- Slider row (full width) -->
                  <tr>
                    <td colspan="2" style="text-align:center;">
                      <input type="range"
                             name="ans_range"
                             id="ans_range"
                             min="0"
                             max="100"
                             style="width:100%;"
                             onchange="printValue()" />
                    </td>
                  </tr>
                  
                  <!-- Scale labels with descriptions in two side-by-side cells -->
                  <tr>
                    <td style="text-align:left; vertical-align:top;">
                      <b>0</b><br>
                      Very Difficult
                    </td>
                    <td style="text-align:right; vertical-align:top;">
                      <b>100</b><br>
                      Very Easy
                    </td>
                  </tr>
                </table>

            <input type="hidden" name="fid" value="{{ fid }}">
            <input type="hidden" name="conID" value="{{ conID }}">
            <br>
            <input type="image"
                   name="submit"
                   id="submit"
                   src="{{ url_for('static', filename='images/continue_button.gif') }}"
                   alt="continue">
                   <input type="hidden" name="qid" value="c2">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function printValue() {
      var x = document.getElementById('ans_range');
      var y = document.getElementById('ans');
      y.value = x.value;
    }

    function saveAns() {
      var input = document.getElementById('ans');
      if (!input.value) {
        return false;
      }
      return true;
    }
  </script>
</body>
</html>
