<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    <base target="_top">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="b_up">
        <div class="task_c_up">
            Please make a rating from 0 to 100 by moving the circle on the scale.
        </div>
    </div>

    <div class="b_down">
        <div class="article">
            <div id="c1" style="text-align: center;">
                <br>
                <div id="passQ">
                    <p><b>1. How easy was this article to read?</b></p>
                    <br><br>
                    <form id="form_c1" action="{{ url_for('core.task_c1', fid=fid) }}" method="POST" onsubmit="return saveAns()">
                        <table style="width:100%;">
                            <!-- Textbox row (full width) -->
                            <tr>
                              <td colspan="2" style="text-align:center;">
                                <input type="text"
                                       name="ans"
                                       id="ans"
                                       readonly="readonly"
                                       class="readonly" />
                              </td>
                            </tr>
                            
                            <!-- Slider row (full width) -->
                            <tr>
                              <td colspan="2" style="text-align:center;">
                                <input type="range"
                                       name="ans_range"
                                       id="ans_range"
                                       min="0"
                                       max="100"
                                       style="width:100%;"
                                       onchange="printValue()" />
                              </td>
                            </tr>
                            
                            <!-- Scale labels with descriptions in two side-by-side cells -->
                            <tr>
                              <td style="text-align:left; vertical-align:top;">
                                <b>0</b><br>
                                Very Easy
                              </td>
                              <td style="text-align:right; vertical-align:top;">
                                <b>100</b><br>
                                Very Difficult
                              </td>
                            </tr>
                          </table>
                        <input type="hidden" name="fid" value="{{ fid }}">
                        <br>
                        <input type="image" name="submit" src="{{ url_for('static', filename='images/next_button.gif') }}" 
                               alt="Next">
                               <input type="hidden" name="qid" value="c1">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function printValue() {
            const x = document.getElementById('ans_range');
            const y = document.getElementById('ans');
            y.value = x.value;
        }

        function saveAns() {
            const input = document.getElementById('ans');
            if (!input.value) {
                alert('Please provide a rating before submitting!');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
