<!-- templates/practice/prac_instruction.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prac Instruction</title>
  <base target="_top">
  <style>
    body {
      margin: 0;
      padding: 20px;
      font-family: "Times New Roman", "Times New Roman Regular", Times, serif;
      max-width: 100%;
      overflow-x: hidden;
      font-size: 14pt;
    }
    
    .cl2 {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px;
    }
    
    table {
      width: 100%;
      max-width: 100%;
      table-layout: fixed;
    }
    
    input[type="range"] { 
      width: 100%; 
      max-width: 100%;
      box-sizing: border-box;
    }
    
    td {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    
    @media (max-width: 768px) {
      body {
        padding: 10px;
      }
      
      .cl2 {
        padding: 0 5px;
      }
      
      td {
        font-size: 14pt !important;
      }
    }
  </style>
</head>
<body>
  <div class='cl2'>
    <h2><b>Practice Instructions</b></h2>
    <p>
      First, you will learn how to do the task through a short practice. Your task is to learn about animals. There are articles about three animal-related topics. The goal is to learn as much as you can about animals instead of memorizing the articles word for word. You will have <strong>4 minutes</strong> to read and learn before answering some questions. It is very important for you to pay attention to the articles and do your best to learn from them. Some animal topics are more difficult than others, so please try to manage your time effectively to optimize your learning within the time limit.
    </p>

    <p>
      During the <strong>4 minutes</strong>, you will select <em>one animal topic at a time</em> and read a collection of articles about it. You will see one article at a time and can read at your own pace.
    </p>

    <p>After reading each article, you will have a choice:</p>
    <ul>
      <li>To continue reading about the same animal topic, click <b>“Read the Next Article.”</b></li>
      <li>To switch to a new topic, click <b>“Go to Other Topics.”</b></li>
    </ul>

    <p>
      You will have <strong>4 minutes</strong> total to learn about animals, so <b>do your best to concentrate and stay with a topic only as long as you feel you are still learning something</b>. If the articles for the topic seem too difficult or not helping you learn, you might want to choose to switch to another topic. The choice is yours.
    </p>

    <p>
      Note that there are more articles than you can read fully within 4 minutes, so choose carefully when to continue or switch topics so that you can learn as much information as possible about animals.
    </p>

    <p>
      After reading each article, you will be asked to rate how easy the article was, how much new information you thought was in the article, how much you learned from the article, AND how much you learned from all the articles you read so far today. You will be asked to make these ratings on a scale from 0 to 100 by moving the circle:
    </p>

    
    <div>
    <table>
    <!-- quesation 1-->
    <tr>
      <td style='font-size:14pt; color:#0B3861; text-align:left;'>
      <b>1. Compared to the other articles that you have read today, how much new information was in this article?</b>
      </td>
    </tr>
    <tr>
      <td style='text-align:center;'>
        <form id='form_c1' name='form_c1'>
           <table style="width: 100%;">
             <tr>
               <td colspan='2' style='text-align:center;'><input type='range' name='ans_range' id='ans_range' min='0' max='100'/></td>
             </tr>
             <!-- 分数-->
             <tr>
               <td style='font-size:16pt; color:#0B3861; text-align:left;'><b>0</b></td>
               <td style='font-size:16pt; color:#0B3861; text-align:right;'><b>100</b></td>
             </tr>
             <!-- 分数解释-->
             <tr>
              <td style='font-size:14pt; color:#0B3861; text-align:left;'>No New Information</td>
              <td style='font-size:14pt; color:#0B3861; text-align:right;'>Completely New Information</td>
             </tr>
           </table>
        </form>
      </td>
    </tr>


    <!-- question 2--> 
    <tr>
      <td style='font-size:14pt; color:#0B3861; text-align:left;'>
      <b><br>2. How easy was this article to read?</b>
      </td>
    </tr>
    <tr>
      <td style='text-align:center;'>
        <form id='form_c2' name='form_c2'>
           <table style="width: 100%;">
             <tr>
               <td colspan='2' style='text-align:center;'><input type='range' name='ans_range' id='ans_range' min='0' max='100'/></td>
             </tr>
             <tr>
              <td style='font-size:14pt; color:#0B3861; text-align:left;'><b>0</b></td>
              <td style='font-size:14pt; color:#0B3861; text-align:right;'><b>100</b></td>
             </tr>
             <tr>
              <td style='font-size:14pt; color:#0B3861; text-align:left;'>Very Difficult</td>
              <td style='font-size:14pt; color:#0B3861; text-align:right;'>Very Easy</td>
             </tr>
           </table>
        </form>
      </td>
    </tr>

    <!-- question 3-->
    <tr>
      <td style='font-size:14pt; color:#0B3861; text-align:left;'>
      <b><br>3. How much did you learn from this article?</b>
      </td>
    </tr>
    <tr>
      <td style='text-align:center;'>
        <form id='form_c3' name='form_c3'>
           <table style="width: 100%;">
             <tr>
               <td colspan='2' style='text-align:center;'><input type='range' name='ans_range' id='ans_range' min='0' max='100'/></td>
            </tr>
             <tr>
              <td style='font-size:14pt; color:#0B3861; text-align:left;'><b>0</b></td>
              <td style='font-size:14pt; color:#0B3861; text-align:right;'><b>100</b></td>
             </tr>
             <tr>
              <td style='font-size:14pt; color:#0B3861; text-align:left;'>Didn't Learn Anything at All</td>
              <td style='font-size:14pt; color:#0B3861; text-align:right;'>Learned a Lot</td>
             </tr>
           </table>
        </form>
      </td>
    </tr>

    <!-- question 4-->
    <tr>
      <td style='font-size:14pt; color:#0B3861; text-align:left;'>
      <b><br>4. How much did you learn overall from the articles you have read so far today (including this article)?</b>
      </td>
    </tr>
    <tr>
      <td style='text-align:center;'>
        <form id='form_c4' name='form_c4'>
           <table style="width: 100%;">
             <tr>
               <td colspan='2' style='text-align:center;'><input type='range' name='ans_range' id='ans_range' min='0' max='100'/></td>
            </tr>
             <tr>
              <td style='font-size:14pt; color:#0B3861; text-align:left;'><b>0</b></td>
              <td style='font-size:14pt; color:#0B3861; text-align:right;'><b>100</b></td>
             </tr>
             <tr>
              <td style='font-size:14pt; color:#0B3861; text-align:left;'>Didn't Learn Anything at All</td>
              <td style='font-size:14pt; color:#0B3861; text-align:right;'>Learned a Lot</td>
             </tr>
           </table>
        </form>
      </td>
    </tr>
    
    </table>
    </div>

    <p style='line-height:130%'>
      <b>Again, after reading each article, you can choose to continue reading about the same animal topic by moving to the next article, or return to the main page to select another animal topic. Once you leave a topic, you will not be able to return to it.</b>
    </p>
    <p style='line-height:130%'>
      At the end of the task, you will be asked to report what you have learned. Please try your best to learn as much information as you can about <i>animals</i> within 4 minutes.
    </p>
    <p style='line-height:130%'>
      When you are ready, please click the <b>“Start”</b> button to go to the next page.
    </p>
    </div>

  <div>
    <form method="POST" action="{{ url_for('practice.prac_a', fid='begin') }}">
      <input type="hidden" name="begin_task" value="yes" />
      <input type="image" name="submit" id="submit" src="{{ url_for('static', filename='images/start_button.gif') }}" alt="Start">
    </form>
  </div>
</body>
</html>
