<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Consent</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
  <div class="cl0">
		<h2><b>Informed Consent</b></h2>

		<p>
			You are invited to participate in a research study on learning a health topic from a series of passages. This study is conducted by Dr. Elizabeth A. L. Stine-Morrow and Jessie Chin of the Department of Educational Psychology at the University of Illinois Urbana-Champaign. This study will take approximately 20-30 minutes of your time. You will be given a test about the topic you just learned at the end of the study.
		</p>
		<p>
			Your decision to participate or decline participation in this study is completely voluntary and you have the right to terminate your participation at any time without penalty. You may skip any questions you do not wish to answer. If do not wish to complete this survey, just close your browser.
		</p>
		<p>
			Your participation in this research will be completely anonymous and data will be averaged and reported in aggregate. Possible outlets of dissemination include academic conferences and journals. Although your participation in this research may not benefit you personally, it will help us understand how people develop expectancies as they read. There are no risks to individuals participating in this survey beyond those that exist in daily life.
		</p>
		<p>
			You will receive $1.25 for your participation. And if your score on the test is higher than 90 out of 100, you will receive $0.5 for a bonus reward.
		</p>
		<p>
			If you have questions about this project, you may contact Dr. Stine-Morrow at eals@illinois.edu or Jessie Chin at chin5@illinois.edu. If you have any questions about your rights as a research participant in the study, please contact the University of Illinois Institutional Review Board at 217-333-2670 (collect calls accepted if you identify yourself as a research participant) or via email at irb@illinois.edu. Please print a copy of this consent form for your records, if you so desire.
		</p>
	</div>

  <div class="cl0" style="font-size:20pt">
    <span><b>
      I have read and understand the above consent form, ... voluntarily take part in the study.
    </b></span>
    <br><br>

    <!-- The form now posts to /demographic instead of demographic.php -->
    <form id="form_consent"
          action="{{ url_for('demographic') }}"
          method="POST"
          onsubmit="return saveConsent();">

      <b>mTurk Worker ID: 
        <input type="text" name="mturkid" style="width:300px;" required />
      </b>
      (required)
      <br><br>

      <input type="checkbox"
             name="consentCheck"
             id="consentCheck"
             value="Yes"
             class="regular-checkbox big-checkbox"
             required>
      <label for="consentCheck"></label>
      <span><b>Yes, I consent.</b></span>

      <br><br>
      <input type="image" 
             name="submit" 
             id="submit" 
             src="{{ url_for('static', filename='images/start_button.gif') }}" 
             alt="Start">
    </form>
  </div>

  <script type="text/javascript">
    function saveConsent() {
      var input = document.getElementById('consentCheck').checked;
      if (!input) {
        alert('You must consent to participate in the study.');
        return false;
      } else {
        return true;
      }
    }
  </script>
</body>
</html>
