<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
    <div class='cl2'>
        <p style='line-height:130%'>
            <b>Now, here is the formal task.</b>
        </p>

        <p style='line-height:130%'>
            Your task is to learn about some topics in medical science related to Donation and Medical Transplants. 
            There are three main topics, and your goal is to learn as much as you can about them. You will have 
            15 minutes to learn about Donation and Medical Transplants before I ask you to answer some questions. 
            <b>It is very important for you to pay attention to the articles and do your best to learn about the topics.</b> 
            You will receive bonus money based on your performance.
        </p>

        <!-- Keep the rest of the instruction content same as original -->
        <!-- ... -->

        <div>
            <form method='post' action="{{ url_for('task_a') }}?fid=begin">
                <input type="hidden" name="begin_task" value="yes" />
                <input type='image' name='submit' id='submit' 
                      src="{{ url_for('static', filename='images/start_button.gif') }}" alt='Start'>
            </form>
        </div>
    </div>
</body>
</html>