<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Start Letter Comparison Two</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
  <div>
    <form id="form_lcTwo" name="form_lcTwo" action="{{ url_for('let_comp_two') }}" method="POST" onsubmit="return saveLetCompTwo();">
      <table>
        <colgroup>
          <col style="width:30%;"/>
          <col style="width:40%;"/>
          <col style="width:30%;"/>
        </colgroup>
        <tr>
          <td style="text-align:right;">YXHKZVFPB</td>
          <td style="text-align:center;">
            <input type="radio" name="lc11" id="lc11_S" value="S" required/>S  
            <input type="radio" name="lc11" id="lc11_D" value="D"/>D  
          </td>
          <td style="text-align:left;">YXHKZVFPD</td>
        </tr>
        <tr>
          <td style="text-align:right;">RJZ</td>
          <td style="text-align:center;">
            <input type="radio" name="lc12" id="lc12_S" value="S" required/>S  
            <input type="radio" name="lc12" id="lc12_D" value="D"/>D  
          </td>
          <td style="text-align:left;">RJZ</td>
        </tr>
        <tr>
          <td style="text-align:right;">CLNPZD</td>
          <td style="text-align:center;">
            <input type="radio" name="lc13" id="lc13_S" value="S" required/>S  
            <input type="radio" name="lc13" id="lc13_D" value="D"/>D  
          </td>
          <td style="text-align:left;">CLNPZD</td>
        </tr>
        <tr>
          <td style="text-align:right;">DCBPFHXYJ</td>
          <td style="text-align:center;">
            <input type="radio" name="lc14" id="lc14_S" value="S" required/>S  
            <input type="radio" name="lc14" id="lc14_D" value="D"/>D  
          </td>
          <td style="text-align:left;">DCBPFHXYJ</td>
        </tr>
        <tr>
          <td style="text-align:right;">MWR</td>
          <td style="text-align:center;">
            <input type="radio" name="lc15" id="lc15_S" value="S" required/>S  
            <input type="radio" name="lc15" id="lc15_D" value="D"/>D  
          </td>
          <td style="text-align:left;">ZWR</td>
        </tr>
        <tr>
          <td style="text-align:right;">LPKXZW</td>
          <td style="text-align:center;">
            <input type="radio" name="lc16" id="lc16_S" value="S" required/>S  
            <input type="radio" name="lc16" id="lc16_D" value="D"/>D  
          </td>
          <td style="text-align:left;">LPKXZW</td>
        </tr>
        <tr>
          <td style="text-align:right;">TZL</td>
          <td style="text-align:center;">
            <input type="radio" name="lc17" id="lc17_S" value="S" required/>S  
            <input type="radio" name="lc17" id="lc17_D" value="D"/>D  
          </td>
          <td style="text-align:left;">TZQ</td>
        </tr>
        <tr>
          <td style="text-align:right;">CSDBFPHXZ</td>
          <td style="text-align:center;">
            <input type="radio" name="lc18" id="lc18_S" value="S" required/>S  
            <input type="radio" name="lc18" id="lc18_D" value="D"/>D  
          </td>
          <td style="text-align:left;">CSDBFPHXZ</td>
        </tr>
        <tr>
          <td style="text-align:right;">QHZXPC</td>
          <td style="text-align:center;">
            <input type="radio" name="lc19" id="lc19_S" value="S" required/>S  
            <input type="radio" name="lc19" id="lc19_D" value="D"/>D  
          </td>
          <td style="text-align:left;">QHZWPC</td>
        </tr>
        <tr>
          <td style="text-align:right;">JNWXHPFBD</td>
          <td style="text-align:center;">
            <input type="radio" name="lc20" id="lc20_S" value="S" required/>S  
            <input type="radio" name="lc20" id="lc20_D" value="D"/>D  
          </td>
          <td style="text-align:left;">JNWXHPFMD</td>
        </tr>
      </table>
      <br>
      <input type="image" name="submit" id="submit" src="{{ url_for('static', filename='images/done_button.gif') }}" alt="Done">
    </form>
  </div>

  <script type="text/javascript">
    function saveLetCompTwo(){
      var input1 = getRadioVal(document.getElementById('form_lcTwo'),'lc11');
      var input2 = getRadioVal(document.getElementById('form_lcTwo'),'lc12');
      var input3 = getRadioVal(document.getElementById('form_lcTwo'),'lc13');
      var input4 = getRadioVal(document.getElementById('form_lcTwo'),'lc14');
      var input5 = getRadioVal(document.getElementById('form_lcTwo'),'lc15');
      var input6 = getRadioVal(document.getElementById('form_lcTwo'),'lc16');
      var input7 = getRadioVal(document.getElementById('form_lcTwo'),'lc17');
      var input8 = getRadioVal(document.getElementById('form_lcTwo'),'lc18');
      var input9 = getRadioVal(document.getElementById('form_lcTwo'),'lc19');
      var input10 = getRadioVal(document.getElementById('form_lcTwo'),'lc20');
       
      if(input1 == ''){
          return false;
      } else {
          return true;
      }
    }
    
    function getRadioVal(form, name) {
      var val;
      var radios = form.elements[name];
      for (var i = 0; i < radios.length; i++) {
          if (radios[i].checked) {
              val = radios[i].value;
              break;
          }
      }
      return val;
    }
  </script>
</body>
</html>
